[user]
	name = Tim Roes
	email = mail@timroes.de
[alias]
	b = checkout -b
	lastdiff = diff HEAD^ HEAD
	master = checkout master
	pn = "!git push -u origin \"$(git rev-parse --abbrev-ref HEAD)\""
	upstream = "!git remote update upstream && git reset --hard upstream/\"$(git rev-parse --abbrev-ref HEAD)\""
	tree = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)'
	treef = log --all --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)'
